[importlinter]
root_packages=
    rankyswanky


[importlinter:contract:layers]
name = My layers contract
type = layers
layers =
    rankyswanky.main
    rankyswanky.builders
    rankyswanky.metrics
    rankyswanky.persistence
    rankyswanky.models
    rankyswanky.utils

# To run the linter, use the following command:
# uv run lint-imports